:root {
  /* -- to set up font-size -- */
  font-size: 62.5%; /* 1rem = 10px */
  
  /* -- primary colors -- */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* -- neutral colors -- */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --actived-very-dark-cyan: hsl(158, 36%, 20%);
  
  /* -- font weight -- */
  --fw-medium: 500;
  --fw-bold: 700;
}

/* ------- Reset ------- */
html {
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-medium);
}

img {
  display: block; /* to remove default gap in inline elements */
  width: 100%;
  height: auto;
}

/* ------- Fonts ------- */
.card__subtitle,
.card__description,
.card__real-price,
.card__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: var(--dark-grayish-blue);
}

.card__title,
.card__sale-price {
  font-family: 'Fraunces', serif;
  font-size: 3.4rem;
}

/* ------- Layout ------- */
.card {
  width: 37.5rem;
  margin: 3.2rem auto;
  border-radius: 1rem;
  background-color: var(--white);
  overflow: hidden;
}

.card__wrapper {
  padding: 2.7rem;
}

.card__subtitle {
  margin-bottom: 1.5rem;
  letter-spacing: .5rem;
}

.card__title {
  color: var(--very-dark-blue);
  margin-bottom: 1.8rem;
  line-height: 3.5rem;
}

.card__description {
  margin-bottom: 4.8rem;
  line-height: 2.5rem;
}

.card__sale-price,
.card__real-price {
  display: inline-block;
  vertical-align: middle;
}

.card__sale-price {
  color: var(--dark-cyan);
  margin-right: 2.1rem;
}

.card__real-price {
  text-decoration-line: line-through;
}

.card__button {
  color: var(--white);
  font-weight: var(--fw-bold);
  background-color: var(--dark-cyan);
  border: none;
  border-radius: .9rem;
  width: 100%;
  padding-block: 1.8rem;
  margin-top: 1.8rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.card__button:active {
  background-color: var(--actived-very-dark-cyan);
}
